.container {
    padding-left: 6rem;
    padding-right: 4rem;
    margin-top: 4rem;
}

/* Titolo principale */
.title  {
    display: flex;
    flex-direction: column;
}

.title h1 {
    color: #fff;
    font-size: 60px;
}

.title h1:last-child {
    font-weight: 600;
    margin-top: -30px;
}

/* Instruzioni */
.instruction {
    margin-top: 2rem;
    color: #d20094;
    font-size: 2rem;
}

/* impaginiazione testo */
.text {
    color: #fff;
}

/* Checkbox */
.checkDiv {
    display: flex;
    margin-top: 4rem;
    padding-left: 6rem;
}

/* Elenco condizioni d'uso */
ul li {
    color: #fff;
}

label {
    color: #fff;
}

/* Button inizo esame */
button {
    padding: 20px;
}

/* stilizzo un po' il bottone per poterlo vedere */
/* .btn {
    height: 100px;
    width: 200px;
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */


