/* 
    Style index.css
    Gruppo n. 2

*/


/* Titolo principale */
.title  {
    display: flex;
    flex-direction: column;
}

.title div {
    color: #FFF;
    font-size: 60px;
    font-weight: 300;
}

.title div:last-child {
    font-weight: 600;
    margin-top: -30px; 
}

/* Instruzioni */
.instruction {
    margin: 1.2rem 0 1.1rem 0;
    color: #d20094;
    font-size: 2rem;
}

/* Impaginiazione testo */
.text {
    margin-bottom: 1.5rem;
    font-size: 16px;
}

ul {
    padding: 1.5rem;
}

.text p {
    color: #FFF;
    font-size: 16px;
}

.list ul {
    margin-left: 6rem;
}

/* Elenco condizioni d'uso */
ul li {
    color: #FFF;
}

label {
    color: #FFF;
}

/* Button inizo esame */
button {
    padding: 20px;
}

/* Checkbox */
.checkDiv {
    display: flex;
    margin-top: 4rem;
    padding-left: 6rem;
    gap: 20rem;
    align-items: center;
}

.check {
    display: flex;
    gap: 10px;
}

.check input[type="checkbox"] {
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid #FFF;
    background-color: #00FFFF;
}

/* Button stilizzato */
.proceedBtn a {
    text-decoration: none;
}

.btn {
    height: 60px;
    width: 220px;
    background-color: #00FFFF;
    border: 0;
    box-shadow: 5px 5px 16px 16px rgba(0,255,255,0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn span {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.btn:hover span {
    color: #FFF;
}


