.container {
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 4rem;
}

.cnt{
    padding-left: 4rem;
    padding-right: 4rem;
}
.cnt-question{
    color: #fff;
    font-weight: 600;
    font-size: 35px;
}

.answer{
    background-color: red;
    border: solid 1px #fff;
    border-radius: 25px;
    width: 260px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

/* countdown */

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}



/* fine countdown */

/* 
  bottoni */


  .cnt-answers button {
    background-color: rgba(35, 41, 79, 0.35);
    width: 300px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    outline: none;
    border: 3px solid transparent;
    background: linear-gradient(180deg, #fff, transparent) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
/*     -webkit-mask-composite: xor;
    mask-composite: exclude; */
  }
  .optns button:active {
    background-color: rgba(199, 1, 144, 1);
  }
  .cnt-answers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }


  #cnt-answers p { z-index:999}

  .cnt-question-counter{
    color: white;
    font-size: 35px;
    
  }